
<table>
  <% @movies.each do |movie| %>
    <tr class='movie-row'>
      <td>
        <%= link_to movie_url(movie) do %>
          <img src="<%= movie.poster %>" alt=" <%= movie.title %> " class='movie-poster'>
        <% end %>
      </td>
      <td class='movie-title'>
        <%= link_to movie_url(movie) do %>
          <h4><%= movie.title %></h4>
        <% end %>
      </td>
      <td class='movie-genre'>
        <%= movie.genre %>
      </td>
      <td class='movie-date'>
        <%= movie.release_date %>
      </td>
      <td class='movie-producer'>
        <%= movie.production %>
      </td>
      <td class='movie-site'>
        <a href="<%= movie.website %>">Site</a>
      </td>
    </tr>
  <% end %>
</table>
