<img src="<%= @movie.poster %>">
<h2><%= @movie.title %></h2>
<h4><%= @movie.production%>, <%= @movie.release_date.year %></h4>
<div class='movie-details'>
  <p>
    <span><%= @movie.watchlisting_users.count %> watchlists</span>
    <span><%= @movie.favoriting_users.count %> favorites</span>

    <% if @movie.watchlisting_users.include?(current_user) %>
      <%= link_to 'Remove from Watchlist', [@movie, @movie.watchlists.find_by(user_id: current_user.id)], method: :delete %>
    <% else %>
      <%= link_to 'Add to Watchlist', movie_watchlists_path(@movie), method: :post %>
    <% end %>
    <% if @movie.favoriting_users.include?(current_user) %>
      <%= link_to 'Remove from Favorites', [@movie, @movie.favorites.find_by(user_id: current_user.id)], method: :delete %>
    <% else %>
      <%= link_to 'Add to Favorites', movie_favorites_path(@movie), method: :post %>
    <% end %>
  </p>
  <p><%= @movie.genre %></p>
  <p><%= @movie.plot_summary %></p>
</div>
<h3>Reviews</h3>
<div class='reviews-container'>
  <div class='review-form'>
    <h4>Add a Review</h4>
    <%= form_for([@movie, Review.new]) do |f| %>
      <fieldset>
        <%= f.label :rating %>
        <%= f.select(:rating, options_for_select([["🌟", 1],["🌟🌟", 2],["🌟🌟🌟", 3], ["🌟🌟🌟🌟", 4]])) %>
      </fieldset>
      <fieldset>
        <%= f.label :text %>
        <%= f.text_area :text %>
      </fieldset>
      <%= f.submit %>
    <% end %>
  </div>
  <%= render @movie.reviews %>
</div>
<h3>Comments</h3>
<%= render 'comments/form' %>
<div class='movie-comments-container'>
  <h4>Add a Comment</h4>

  <%= render @movie.comments %>
</div>
