<div class='movie-details'>
  <img src="<%= @movie.poster %>" class='movie-poster'>
  <h2><%= @movie.title %></h2>
  <h4><%= @movie.production%>, <%= @movie.release_date.year %></h4>
  <p class='watchlists-and-favorites'>
    <span><%= @movie.watchlisting_users.count %> watchlists</span>
    <span><%= @movie.favoriting_users.count %> favorites</span>
    <% if @movie.watchlisting_users.include?(current_user) %>
      <%= link_to 'Remove from Watchlist', [@movie, @movie.watchlists.find_by(user_id: current_user.id)], method: :delete %>
    <% else %>
      <%= link_to 'Add to Watchlist', movie_watchlists_path(@movie), method: :post %>
    <% end %>
    <% if @movie.favoriting_users.include?(current_user) %>
      <%= link_to 'Remove from Favorites', [@movie, @movie.favorites.find_by(user_id: current_user.id)], method: :delete %>
    <% else %>
      <%= link_to 'Add to Favorites', movie_favorites_path(@movie), method: :post %>
    <% end %>
  </p>
  <p><%= @movie.genre %></p>
  <p><%= @movie.plot_summary %></p>
</div>
<div class='reviews-container'>
  <h3>Reviews</h3>
  <% if !@movie.reviewing_users.include?(current_user) %>
    <%= render 'reviews/form' %>
  <% end %>
  <%= render @movie.reviews %>
</div>
<div class='movie-comments-container'>
  <h3>Conversations</h3>
  <h4>Start a Conversation</h4>
  <%= render partial: 'comments/form', locals: { commentable: @movie } %>
  <%= render @movie.comments %>
</div>
