<div class="field">
  <h2><%=@user.username%>'s Profile</h2>
</div>

<hr>


<div class="container">
  <h3>All of <%=@user.username%>'s Favorite Movies</h3>
  <ul>
    <%@user.favorite_movies.each do |movie|  %>
    <li>  <%= movie.title %></li>

    <% end %>
  </ul>
</div>
 <hr>

<div class="container">
    <h3><%= @user.username%>'s watchlists </h3>
      <ul>
      <% @user.watchlist.each do |watchlist| %>

      <% end %>
    </ul>
</div>

<hr>

<div class="container">
    <h3><%= @user.username%>'s comments </h3>
      <ul>
      <% @user.comments.each do |comments| %>
      <li><%= comments.text %></li>
      <% end %>
    </ul>
</div>
