<div class='review'>
  <h4><%= '🌟' * review.rating %></h4>
  <p><%= review.text %></p>
  <div class='conversation-footer'>
    <span><%= review.user.username %></span>
    <span><%= distance_of_time_in_words(Time.now, review.created_at) %> ago</span>
  </div>
  <div class='review-comments'>
    <%= render review.comments %>
  </div>
</div>
